.realtors{
    background-color: $color-secondary;
    grid-column:col-start 7/full-end;
    padding: 4rem;
    
    display: grid;
    // grid-template-rows: repeat(4,minmax(min-content,1fr));
    justify-content: center;
    align-content: center;
    grid-row-gap: 2rem;
    justify-items: center;

    @media only screen and (max-width:$bp-md) {
        grid-column: full-start/ full-end;
        grid-row: 3/4;
        
    }
    




    &__list{
        // display: flex;
        // align-items: center;
        // gap:3rem;
        font-family: $font-display;

        display:grid;
        grid-template-columns: min-content max-content; 
        grid-gap: 5vh 2rem;
        align-items: center;

        @media only screen and (max-width:$bp-md) {
            display: flex;     
            gap: 3rem;      
        }

        @media only screen and (max-width:$bp-sm) {
            display:grid;
            grid-template-columns: min-content max-content;
            
        }


    }

    &__img{
        height: 5rem;
        border-radius: 50%;
        display: block;
    }

    &__details{
        font-size: 1.6rem;
    }

    &__sold{
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $color-grey-light-2;
    }

}